/*==============================Custom css for this page=============================*/

html{

}
*{
	margin: 0;
	padding: 0;
	//background-color:#e0f2f1 ;
}

body{
	background-color:#e0f2f1 ;
	background-image:url(images/bg.jpg)
}

.container{
	width:90%;
	margin-left:05%;
	margin-right:05%;
}

blockquote{
	border-left:0px solid blue;
}
ul>li{
	text-align:center;
}
table .striped{}

.brand-logo{
	color: red;
}

element.style{
	height:300px;
}
.carousel{
    height: 350px;
}

p:hover{
	color:red;
}

h5:hover{
	color:red;
}

h2{
	font-size:300%;
}
iframe{
	width:100%;
	margin-left:0%;
	margin-top:0%;
}
.parallax-container {
      height: 400px;
    }

.brand-logo{margin-left:20px;}

@media screen and (max-width:600px){
	
	.peru{border-left:0px;border-top:1px solid white;}
	
	
	.meru{border-right:0px;border-bottom:1px solid white;}
	
	iframe{
		width:100%;
		margin-left:0%;
		margin-top:5%;
	}
	.container{
	width:100%;
	margin-left:0%;
	margin-right:0%;
}
	.parallax-container {
      height: 250px;
    }
	
}



@media screen and (max-width:315px){
	
	.brand-logo{margin-left:0px;}
	
	.container{
	width:100%;
	margin-left:0%;
	margin-right:0%;
}
	
}

/*
		<div class="slider" style="height: 100px;">
    <ul class="slides">
      <li>
        <img src="images/a1.jpg" height="100"> <!-- random image -->
        <div class="caption right-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="images/a2.jpg"  height="100"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="images/a3.jpg"  height="100"> <!-- random image -->
        <div class="caption right-align">
          <h3 >Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="images/a4.jpg"  height="100"> <!-- random image -->
        <div class="caption center-align">
          <h3 style="color:black;">This is our big Tagline!</h3>
          <h5 class="light black-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
		
			<script type="text/javascript">
				$(document).ready(function(){
				$('.slider').slider({height:300});
				});

			</script>

*/









/*

		
	<script type="text/javascript" language="javascript">
           $(document).ready(function(){
    $('.carousel').carousel({height:200});
	$('.carousel.carousel-slider').carousel({
    fullWidth: true});
	$('.carousel').carousel();
  setInterval(function() {
    $('.carousel').carousel('next');
  }, 2000);
  $('.carousel.carousel-slider').carousel({
    fullWidth: true});
	
	
  });
    </script>
			
			
			
			<div class="carousel carousel-slider">
				<a class="carousel-item" href="#one!"><img src="images/a1.jpg"></a>
				<a class="carousel-item" href="#two!"><img src="images/a2.jpg"></a>
				<a class="carousel-item" href="#three!"><img src="images/a3.jpg"></a>
				<a class="carousel-item" href="#four!"><img src="images/a4.jpg"></a>
				<a class="carousel-item" href="#five!"><img src="images/a5.jpg"></a>
			</div>

*/